{% extends 'base.html' %}

{% block nav %}
<a class="nav-link active" href="{% url 'lights:cam' %}">Camera</a>
<a class="nav-link" href="{% url 'lights:lights' %}">Lights</a>
<a class="nav-link" href="{% url 'lights:outlets' %}">Outlets</a>
{%  endblock %}

{% block content %}
    <button onclick="changeImg('1');">Edward</button>
    <button onclick="changeImg('2');">Test</button>
   <img id="cam" class="img-responsive" src="http://serie:testpw@206.174.113.240:8081/1">
   <script>
   function changeImg(i)
   {
       var img = document.getElementById("cam");
       img.src="http://serie:testpw@206.174.113.240:8081/"+i.toString();
   }
   </script>
{% endblock %}
