{% extends 'base.html' %}

{% block nav %}
<a class="nav-link active" href="{% url 'lights:home' %}">Home</a>
<a class="nav-link" href="{% url 'lights:lights' %}">Lights</a>
<a class="nav-link" href="{% url 'lights:outlets' %}">Outlets</a>
{%  endblock %}

{% block content %}
<iframe id="cam" src="http://192.168.1.126:8081"></iframe>
    <script>
    var iframe = document.getElementById("cam");
    iframe.onload = function ()
    {
        iframe.scrollBy(iframe.scrollWidth/2, iframe.scrollHeight/2);
    }
    </script>
{% endblock %}
