{% extends baseTemplate %}

{% block page_name %}
Lights
{%  endblock %}

{% block content %}
<div class="vertical-center">
    <div style="margin: auto;">
        <h1 class="cover-heading">Office Lights</h1>
        {% if error %}
            <p class="lead">There was an error!</p>
        {% endif %}
        <p class="lead">{{ switch }}</p>
        <p class="lead">{{ light }}</p>
        <p class="lead">
        <form method="POST" action="{% url 'lights:lights' %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-lg btn-secondary" value="Switch"/>
        </form>
        </p>
    </div>
</div>
{% endblock %}
