{% extends baseTemplate %}

{% block page_name %}

    Outlets

{%  endblock %}

{% block content %}
<div class="vertical-center">
    <div>
        <p class="lead">{{ next_on }}</p>
        <p class="lead">{{ outlet }}</p>

        <label for="single">Single Use</label>
        <form id="single" method="POST" action="{% url 'lights:outlets' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <input type="date" id="single_date" name="single_date" value="{{ curr_date }}">
              <label for="single_date">Date</label>
            </div>
            <div class="col-12">
              <input type="time" id="single_start" name="single_start" value="{{ curr_time }}">
              <label for="single_start">Start Time</label>
              <input type="time" id="single_end" name="single_end" value="{{ curr_time }}">
              <label for="single_end">end Time</label>
            </div>
            <div class="col-12">
              <input type="submit" class="btn btn-lg btn-secondary" value="Schedule Time"/>
            </div>
          </div>
        </form>


        <label for="repeat">Repeating</label>
        <form id="repeat" method="POST" action="{% url 'lights:outlets' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <input type="radio" id="sunday" name="day6" value="1">
              <label for="sunday">sunday</label>
              <input type="radio" id="monday" name="day0" value="1">
              <label for="monday">monday</label>
              <input type="radio" id="tuesday" name="day1" value="1">
              <label for="tuesday">tuesday</label>
              <input type="radio" id="wednesday" name="day2" value="1">
              <label for="wednesday">wednesday</label>
              <input type="radio" id="thursday" name="day3" value="1">
              <label for="thursday">thursday</label>
              <input type="radio" id="friday" name="day4" value="1">
              <label for="friday">friday</label>
              <input type="radio" id="saturday" name="day5" value="1">
              <label for="saturday">saturday</label>
            </div>
            <div class="col-12">
              <input type="time" id="repeat_start" name="repeat_start" value="{{ curr_time }}">
              <label for="repeat_start">Start Time</label>
              <input type="time" id="repeat_end" name="repeat_end" value="{{ curr_time }}">
              <label for="repeat_end">end Time</label>
            </div>
            <div class="col-12">
              <input type="submit" class="btn btn-lg btn-secondary" value="Schedule Repeating Time"/>
            </div>
          </div>
        </form>
    </div>
</div>
{% endblock %}
