node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# config
cams.json

# macOS
.DS_Store

#turtle
@sambolias__CamViewer-keystore*
package.turtle.json
nginx.conf
dist
